@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Business-COMMERCE | Dashboard | @ViewData["Title"]</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/dashboard_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/dashboard_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/dashboard_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dashboard_components/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
    folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/dashboard_components/dist/css/skins/_all-skins.min.css">
    <!-- Morris chart -->
    <link rel="stylesheet" href="~/dashboard_components/morris.js/morris.css">
    <!-- jvectormap -->
    <link rel="stylesheet" href="~/dashboard_components/jvectormap/jquery-jvectormap.css">
    <!-- Date Picker -->
    <link rel="stylesheet" href="~/dashboard_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/dashboard_components/bootstrap-daterangepicker/daterangepicker.css">
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="~/dashboard_components/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <link rel="stylesheet" href="~/css/site.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/dashboard_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="~/dashboard_components/plugins/iCheck/all.css">
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <!-- Summer Note -->
    <link rel="stylesheet" href="~/summernote-0.8.9-dist/dist/summernote.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body class="hold-transition skin-blue sidebar-mini sidebar-collapse">
    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a href="index2.html" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>b</b>C</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>b-</b>COMMERCE</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/dashboard_components/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>Usuário</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <!-- search form -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Pesquisar">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">NAVEGAÇÃO PRINCIPAL</li>
                    <li class="@ViewData["menuDashboard"]">
                        <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">
                            <i class="fa fa-home"></i> <span>Dashboard</span>
                            @*<span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>*@
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fas fa-store"></i><span> Catálago</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a asp-area="Admin" asp-controller="Produto" asp-action="Index"><i class="fa fa-th-list"></i> Produtos</a></li>
                            <li><a asp-area="Admin" asp-controller="Propriedade" asp-action="Index"><i class="fa fa-sliders"></i> Propriedade</a></li>
                            <li><a asp-area="Admin" asp-controller="Categoria" asp-action="Index"><i class="fa fa-th-list"></i> Categorias</a></li>
                            <li><a asp-area="Admin" asp-controller="Fabricante" asp-action="Index"><i class="fa fa-industry"></i> Fabricantes</a></li>
                            <li><a asp-area="Admin" asp-controller="Fornecedor" asp-action="Index"><i class="fas fa-warehouse"></i> Fornecedores</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a asp-area="Admin" asp-controller="Financeiro" asp-action="Index">
                            <i class="far fa-money-bill-alt"></i> <span>Financeiro</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class=""><a asp-area="Admin" asp-controller="Financeiro" asp-action="Index"><i class="fas fa-file-invoice-dollar"></i> Pagamentos</a></li>
                            <li><a asp-area="Admin" asp-controller="Financeiro" asp-action="Index"><i class="fas fa-dollar-sign"></i> Moeda</a></li>
                            <li><a asp-area="Admin" asp-controller="Financeiro" asp-action="Index"><i class="fas fa-money-check-alt"></i> Preco</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a asp-area="Admin" asp-controller="Pedidos" asp-action="Index">
                            <i class="far fa-handshake"></i> <span>Vendas</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class=""><a asp-area="Admin" asp-controller="Pedidos" asp-action="Pedidos"><i class="far fa-list-alt"></i> Pedidos</a></li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a asp-area="Admin" asp-controller="Lojas" asp-action="Index">
                            <i class="fas fa-cog"></i> <span>Geral</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class=""><a asp-area="Admin" asp-controller="Lojas" asp-action="Index"><i class="fas fa-store"></i> Lojas</a></li>
                            <li class=""><a asp-area="Admin" asp-controller="CMS" asp-action="SlidePrincipal"><i class="fas fa-tools"></i> CMS</a></li>
                            <li class=""><a asp-area="Admin" asp-controller="Localizacao" asp-action="Index"><i class="fas fa-globe"></i> País</a></li>
                            <li class=""><a asp-area="Admin" asp-controller="Localizacao" asp-action="Index"><i class="fas fa-globe"></i> Estados</a></li>
                            <li class=""><a asp-area="Admin" asp-controller="Localizacao" asp-action="Index"><i class="fas fa-city"></i> Cidades</a></li>
                        </ul>
                    </li>

                    <li class="Clientes">
                        <a asp-action="Index" asp-controller="Cliente" asp-area="Admin">
                            <i class="fas fa-chalkboard-teacher"></i> <span>Clientes</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fas fa-users"></i> <span>Usuarios</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class=""><a asp-area="Admin" asp-controller="Empregado" asp-action="Index"><i class="fas fa-user-tag"></i> Empregados</a></li>
                        </ul>
                    </li>

                    <li>
                        <a asp-area="Admin" asp-controller="Login" asp-action="EncerarSessao">
                            <i class="fa fa-power-off text-danger"></i> <span>Sair</span>
                        </a>

                    </li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>


        <partial name="_CookieConsentPartial" />

        <div class="content-wrapper">
            @RenderBody()
            <hr />
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Versão</b> 1.0.0
            </div>
            <p style="text-align:center"><strong>Copyright &copy; 2018-@DateTime.Now.Year <a href="https://businesscommerce.com.br">Business-Commerce</a></strong></p>
        </footer>


        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>

    <!-- jQuery 3 -->
    <script src="~/dashboard_components/jquery/dist/jquery.min.js"></script>
    <script src="~/dashboard_components/jquery/dist/jquery.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/dashboard_components/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/dashboard_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Morris.js charts -->
    <script src="~/dashboard_components/raphael/raphael.min.js"></script>
    <script src="~/dashboard_components/morris.js/morris.min.js"></script>
    <!-- Sparkline -->
    <script src="~/dashboard_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
    <!-- jvectormap -->
    <script src="~/dashboard_components/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/dashboard_components/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/dashboard_components/jquery-knob/dist/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/dashboard_components/moment/min/moment.min.js"></script>
    <script src="~/dashboard_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- datepicker -->
    <script src="~/dashboard_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="~/dashboard_components/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <!-- Slimscroll -->
    <script src="~/dashboard_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/dashboard_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dashboard_components/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/dashboard_components/dist/js/demo.js"></script>

    <!-- DataTables -->
    <script src="~/dashboard_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/dashboard_components/datatables.net/js/jquery.dataTables.js"></script>
    <script src="~/dashboard_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/dashboard_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="~/dashboard_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/dashboard_components/fastclick/lib/fastclick.js"></script>

    <!-- Summer Note -->
    <script src="~/summernote-0.8.9-dist/dist/summernote.js"></script>
</body>
</html>